@charset "utf-8";

body{
    background-image: url(images/background.jpg);
    background-color: #1C1C1C;
    font-size: 15px;
    
    color: floralwhite;
    background-attachment: fixed;
    margin: 0;
    
    background-repeat: no-repeat;
}

.clearfix:after{
	content: "";
	display: block;
	clear: both;
}

header {
    
    
    
}

.logo {
    /*background-image: url(images/bf4_logo.png);*/
    width: 600px;
    height: 150px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 30px auto;
    
}

a {
    text-decoration: none;
    color: floralwhite;
}

.glnav {
    height: 50px;
    text-align: center;
    margin: ;
    padding-top: 12px;
    background-color: rgba(0,0,0,0.5);
    border-bottom: solid 3px #DF7401;
}

.glnav:hover{
    cursor: pointer;
    
}

.glnav li {
    display: inline;
    text-decoration: none;
    margin-top: ;
    padding-top: 19px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.5s all ease 0s;
}


.glnav li:hover {
    border-bottom: solid 3px cornsilk;
    border-radius: 10px;
    transform: translateX(10%),scaleX(1.5);
    background-color: orange;
    }

.glnav li a{
    width:auto;
    font-size: 24px;
    padding:0px 20px;  
     
}

.glnav li a::after {
    
}

.nav li {
    text-decoration: none;
}

.content img{
    width:250px;
    height: 170px;
}

.content {
    /*background-color: #1C1C1C;*/
    width:800px;
    margin: 0 auto;
}

.menu {
	float: left;
}

.menu1:before {
	position: relative;
	content: "兵科";
	text-align: center;
	border-bottom: solid 3px orange;
	padding: 10px;
	margin: 30px 70px;
	display: block;
	
}
.menu2:before {
	position: relative;
	content: "銃火器";
	text-align: center;
	border-bottom: solid 3px orange;
	padding: 10px;
	margin: 30px 70px;
	display: block;
	
}
.menu3:before {
	position: relative;
	content: "兵器";
	text-align: center;
	border-bottom: solid 3px orange;
	padding: 10px;
	margin: 30px 70px;
	display: block;
	
}
.menu4:before {
	position: relative;
	content: "ゲームモード";
	text-align: center;
	border-bottom: solid 3px orange;
	padding: 10px;
	margin: 30px 70px;
	display: block;
	
}
.menu5:before {
	position: relative;
	content: "マップ";
	text-align: center;
	border-bottom: solid 3px orange;
	padding: 10px;
	margin: 30px 70px;
	display: block;
	
}
.menu5 {
	margin-left: 0 auto;
	width: 100%;
	
}
.menu5 ul {
	list-style: none;
	padding: 0;
    margin: 0;
}
.menu5 img {
    float: left;
}

.menu5 figure.snip1437 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px auto;
  max-width: 750px;
  max-height: 170px;
  width: 1000px;
  color: #ffffff;
  text-align: right;
  font-size: 16px;
  background-color: #000000;
  text-transform: uppercase;
}
.menu5 figure.snip1437:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -30%;
  right: 70%;
  content: '';
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transform: skew(20deg) translateX(-75%);
  transform: skew(20deg) translateX(-75%);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.icon:before {
    content: "";
    padding-right: 10px;
    border-left: 6px solid orange;
}
.icon2:before {
    content: "";
    padding-right: 20px;
    margin-top: 6px;
    margin-bottom: 6px;
    border-left: 5px solid rgba(255,127,0,1);
    height: 10px;
    border-top: 2px solid rgba(0,0,0,0);
    border-bottom: 2px solid rgba(0,0,0,0);
}

/*heika*/
.heika section{
    margin: 70px 0;
}
.ass-txt{
    width: 60%;
    float: left;
}
.ass-img {
    float: right;
    margin-top: 60px;
    box-shadow:0px 0px 10px rgba(0,0,0,.8) ;
}
.eng-txt{
    width: 60%;
    float: right;
}
.eng-img {
    float: left;
    margin-top: 20px;
    box-shadow:0px 0px 10px rgba(0,0,0,.8) ;
}
.sup-txt{
    width: 60%;
    float: left;
}
.sup-img {
    float: right;
    margin-top: 60px;
    box-shadow:0px 0px 10px rgba(0,0,0,.8) ;
}
.rec-txt{
    width: 60%;
    float: right;
}
.rec-img {
    float: left;
    margin-top: 60px;
    box-shadow:0px 0px 10px rgba(0,0,0,.8) ;
}
/*------*/

/*jukaki*/
h1 {
    margin-top: 40px;
    font-size: 27px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}
.jukaki li {
    background-color: rgba(255,255,255,0.2);
    font-size: 18px;
    list-style: none;
    padding: 10px;
    margin: 5px;
    width: 100px;
    height: 60px;
    float: left;
    border-bottom: 2px solid rgba(255,127,0,1);
    border-top: 2px solid rgba(255,127,0,0);;
    border-left: 2px solid rgba(255,127,0,0);;
    border-right: 2px solid rgba(255,127,0,0);;
    transition: 0.5s all ease 0s;
}
.jukaki li:hover {
    transform: translateX(10%),scaleX(1.5);
    border:2px solid rgba(255,127,0,1);
    cursor: pointer;
    background-color: rgba(255,127,0,0.8);
}
/*------*/

/*heiki*/
.heiki img {
    float: right;
    margin-right: 30px;
    box-shadow:0px 0px 10px rgba(0,0,0,.8) ;
}
.heiki ul {
    list-style: none;
    padding: 0;
    float: left;
}
.heiki li {
    font-size: 18px;
    position:relative;
padding: 0em 0.3em 0.3em 1.3em;
}
.heiki li:before {
    position:absolute;
    content:'';
    top: 0.5em;
left: 0.2em;
height:0;
width:0;
border-style: solid;
border-width: 6px 0 6px 9px;
border-color: transparent transparent transparent #eee;
}
/*------*/
#wrap {
    clear: both;
}

footer {
	margin: 30px;
	clear: both;
}

@media screen and (max-width: 600px) {
	.glnav li {
		display: block;
	}
}